<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listen</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Notice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Home</a>
                        <a class="dropdown-item" href="#">Technology</a>
                        <a class="dropdown-item" href="#">Culture</a>
                        <a class="dropdown-item" href="#">Creativity</a>
                        <a class="dropdown-item" href="#">Media</a>
                        <a class="dropdown-item" href="#">Productivity</a>
                        <a class="dropdown-item" href="#">Design</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
    
    <header class="web-header">
        <h1 class="web-title">Listen</h1>
    </header>
    <section class="notice-list">
        <!--articulo1 -->
        <article class="notice">
            <div class="cover">
                <img src="<%= require('./assets/img/animals.jpg') %>" alt="Artist name - Song title">
            </div>
            <div class="info">
                <div class="title">Song title</div>
                <div class="artist">Artist name</div>
            </div>
        </article>
        <!--articulo2 -->
        <article class="notice">
          <div class="cover">
              <img src="<%= require('./assets/img/animalsII.jpg') %>" alt="Artist name - Song title">
          </div>
          <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo3 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/coleccionismo.jpg') %>" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo4 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/placeholder.jpg') %>" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo5 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/foodII.jpg') %>" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo6 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/foodIII.jpg') %>" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo7 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/sports.jpg') %>" alt="Artist name - Song title">
          </div>
            <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo8 -->
        <article class="notice">
          <div class="cover">
            <img src="<%= require('./assets/img/turismo.jpg') %>" alt="Artist name - Song title">
          </div>
            <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo9 -->
        <article class="notice">
            <div class="cover">
              <img src="<%= require('./assets/img/placeholder.jpg') %>" alt="Artist name - Song title">
            </div>
              <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
            </div>
        </article>
        <!--articulo10 -->
        <article class="notice">
            <div class="cover">
                <video width="500" controls>
                  <source src="<%= require('./assets/img/video_yoga.mp4') %>" type="video/mp4">
                </video>   
            </div>
              <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
            </div>
        </article>
    </section>
    <footer class="web-footer">
        Notice 2018 &copy; All rights reserved.
    </footer>
</body>
</html>
