<%- include('includes/menu.html') %> 
<%- include('includes/header.html') %>
    <section class="notice-list">
        <!--articulo1 -->
        <article class="notice">
            <div class="cover">
                <img src="./assets/img/animals.jpg" alt="Artist name - Song title">
            </div>
            <div class="info">
                <div class="title">Song title</div>
                <div class="artist">Artist name</div>
                <div class="autor">Rodrigo Diaz de Vivar</div>

            </div>
        </article>
        <!--articulo2 -->
        <article class="notice">
          <div class="cover">
              <img src="./assets/img/animalsII.jpg" alt="Artist name - Song title">
          </div>
          <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo3 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/coleccionismo.jpg" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo4 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/turismoII.jpg" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo5 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/foodII.jpg" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo6 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/foodIII.jpg" alt="Artist name - Song title">
          </div>
          <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo7 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/sports.jpg" alt="Artist name - Song title">
          </div>
            <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo8 -->
        <article class="notice">
          <div class="cover">
            <img src="./assets/img/turismo.jpg" alt="Artist name - Song title">
          </div>
            <div class="info">
            <div class="title">Song title</div>
            <div class="artist">Artist name</div>
          </div>
        </article>
        <!--articulo9 -->
        <article class="notice">
            <div class="cover">
              <img src="./assets/img/coleccionismo.jpg" alt="Artist name - Song title">
            </div>
              <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
            </div>
        </article>
        <!--articulo10 -->
        <article class="notice">
            <div class="cover">
                <video width="500" controls>
                  <source src="./assets/img/video_yoga.mp4" type="video/mp4">
                </video>   
            </div>
              <div class="info">
              <div class="title">Song title</div>
              <div class="artist">Artist name</div>
              <div class="comments"><a href="notice.html">Comentarios</a></div>
            </div>
        </article>
    </section>
    <%- include('includes/footer.html') %>
