$main-font-family: "Arial";
$background-color: coral;
$text-color: white;

body {
    font-family: $main-font-family;
    background: url('./assets/img/doodles.png');

    h1 {
        color: $text-color;
    }

}
