.songs-list {

    .song {
        display: flex;

        .cover {
            flex: 1;
        }

        .info {
            flex: 2;
            .artist {}
            .title {}
        }

    }

}
