// Variables de SASS


// Colors
$color-mightly-slate: #556270;
$color-pacifica: #4ECDC4;
$color-apple-chic: #C7F464;
$color-cheery-pink: #FF6B6B;
$color-grandmas-pillow: #C44D58;

// Main components colors
$button-background: $color-mightly-slate;
$error-color: $color-grandmas-pillow;
$outline-color: $color-pacifica;

// Transitions
$default-transition-time: 0.25s;

